body {
    font-family: sans-serif;
    color: #444;
    background-color: #eee;
}
h1 {
    font-size: 28pt;
    color: #66c;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #66c;
}
section {
    width: 70%;
    margin: auto;
    background-color: #edc;
    position: relative;
}
div {
    width: 300px;
    padding: 20px;
    border-style: solid;
    border-color:#666;
    border-width: 5px;
    background-color: #ddd;
    font-size: 9pt;
    text-align: justify;
}
.pomeren {
    background-color: rgba(255,250,210,0.8);
    position: relative;
    top: 30px;
    left: 70px;
}
.spec {
    background-color: rgba(230,200,255,0.8);
    position:absolute;
    top:10px;
    left: -100px;
}
table {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-collapse: collapse;
    margin: 0px auto;
}
td {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-collapse: collapse;
    padding: 5px 10px;
    text-align: center;
    font-weight: bold;
}
.cel {
    color: red;
    background-color: #ffc;
}
.cel:hover {
    background-color: #fcc;
}
#float {
    position:fixed;
    top: 20px;
    right: 20px;
    width: 170px;
    height: 170px;
    background-color: white;
    font-size: 7pt;
}
ol {
    padding: 2em;
    border: 2px dotted grey;
}
li {
    background-color: #def;
    padding: 0.5em;
    border: 1px solid #25c;
}
.pod {
    background-color: #efc;
    padding: 0px;
    border-color: green;
}
