p {
  background-color: yellow;
  border: 5px thick;
}
.first {
  border-color: red;
  border-style: dashed;
  width: 300px;
  display: inline-block;
  margin-right: 20px;
}
.second {
  border: solid green;
  width: 400px;
  display: inline-block;
  margin-right: 20px;
}
.thrid {
  border-color: red;
  border-style: dashed;
  width: 200px;
  margin-right: 20px;
  display: inline-block;
}
