$back-color: #607D8B;
$title-color: #D32F2F;
$container-width: 960px;
$td-width: 300px;





@mixin text-shadow($shadow) {
    -webkit-text-shadow: $shadow;
    -moz-text-shadow: $shadow;
    -ms-text-shadow: $shadow;
    text-shadow: $shadow;
}

@mixin box-shadow($box-shadow) {
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    -ms-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

/* -----------Layout---------- */

body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #212121;
}

.container {
    width: $container-width;
    margin: 20px auto;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background: $back-color;
}

/* --------Hedings------- */

h1 {
    padding: 20px 0;
    text-align: center;
    background: $title-color;
    color: white;
    @include text-shadow(2px -1px 2px rgb(51, 51, 45));
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 0px;
    padding-left: 10px;
    text-align: left;
    background: $title-color;
    color: white;
    @include text-shadow(2px -1px 2px rgb(51, 51, 45));
}

.title {
    background-color: $title-color;
}

/* --------Content-------- */

img {
    height: 400px;
    margin: 40px auto 40px;
    display: block;
}

table {
    width: 100%;
    color: rgb(0, 0, 0);
    background: #757575;
    border-collapse: collapse;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    tr {
        border-bottom: 1px solid rgb(255, 255, 255);
        @include box-shadow(2px 2px 3px green);
    }
    td {
        padding: 5px 0;
        &:first-child {
            width: $td-width;
            padding-left: 10px;
        }
        @include box-shadow(1px 1px yellow);
    }
}

.even {
    background-color: #BDBDBD;
}


p#footer {
    margin-top: 100px;
    color: white;
    border-top: 1px solid white;
    padding-top: 20px;
}