* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: rgb(247, 246, 246);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 10%;
  background-color: rgb(50, 50, 50);
}
.logo {
  display: flex;
  background-color: rgb(50, 50, 50);
}
#icon {
  width: 50px;
  margin-right: 1%;
}

h2 {
  background-color: rgb(50, 50, 50);
  color: white;
  align-self: center;
}

.search {
  border-radius: 20px;
  width: 30%;
  border-color: rgb(50, 50, 50);
  padding: 0 10px 0 30px;
  font-size: 14px;
  background-image: url(./images/lupa.png);
  background-repeat: no-repeat;
  background-position: left;
  background-color: white;
}

.search:focus {
 
}

.repositories-of-selected-user {
  background-color: lightgray;
  padding: 2rem 10% 0 10%;
  display: grid;
  justify-items: center;
  
}



#profile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem 10%;
  gap: 2vw;
  background-color: lightgray;
}
.container {
  display: grid;
  align-items: center;
  background-color: white;
  padding: 10px;
  border: none;
}

.profile-img {
  width: 100%;
  border-radius: 15px;
}


.repository-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
  padding: 5px;
  justify-items: center;

}

.table-header, .table-header div {
  font-weight: bold;
  color: white;
  background-color: rgb(50, 50, 50);  
  
}

.ime {
  width: 100%;
  background-color: white;
  line-height: 2.5rem;
  height: 2rem;
  text-align: center;  
}



.table-cell {
  width: 100%;
  text-align: center;  
  
}

.table-cell div {
  place-self: center;
}

.table-cell:nth-child(even) {
  background-color: gray;
}

.table-cell:nth-child(even) div {
  background-color: gray;
  color: white;
}