$width-container: 960px;
$width-table: 100%;
$width-td: 300px;

$text-color: white;
$text-background-color: #D32F2F;
$body-background-color: #212121;
$container-background-color: #607D8B;
$table-background-color: #757575;
$table-text-color: rgb(0, 0, 0);
$even-background-color: #BDBDBD;
$border: 1px solid white;