$width-container: 960px;
$width-table: 100%;
$width-td: 300px;
$text-color: white;
$text-background-color: #f10707;
$body-background-color: #c5ebdf;
$container-background-color: #88cbec;
$table-background-color: #843db4;
$table-text-color: rgb(0, 0, 0);
$even-background-color: #2f6ae8;
$border: 1px solid rgb(121, 218, 11);