<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Layout</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="img-body"><img id="eva-img" src="./images.jpg" alt="eva cat"></div>
    <div class="task-position">
        <h1 id="main-heading">POSITION</h1>
        <button id="up"><a href="#main-heading">Back to the top </a></button>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet ea sed dolores voluptas eaque? Labore, odio
            distinctio cum laborum qui aliquid hic. Explicabo ullam autem et quibusdam neque vero debitis perspiciatis vel
            est, saepe error, adipisci sed ea quod consequuntur! Sunt ut, earum repellendus impedit repudiandae magni labore
            eum quas? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum dolorum sunt culpa debitis assumenda
            esse quae vitae ipsa, libero quo corporis accusantium deleniti consequuntur nobis? Molestias tenetur facere
            officiis dolores veniam dicta, impedit in ea quisquam nulla rerum minus tempore adipisci commodi repellat
            perferendis, recusandae provident enim vel ad dolor.</p>
        <img id="konj-img" src="./download.jpg" alt="konj 1">
        <img id="beer-img" src="./download1.jpg" alt="konj 2">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos quia fugit maxime numquam veritatis ducimus
            adipisci dolore quisquam, similique eaque rerum nostrum nihil voluptatibus consequatur ad praesentium molestias
            eum deleniti iste in nobis exercitationem? Laboriosam possimus explicabo voluptatem porro, aliquid vero nesciunt
            tempora quibusdam quasi maiores voluptatum a dolorum magnam?</p>
        <p>Eos nobis aliquam assumenda et sint voluptatem sit hic, minus ipsa impedit! Error doloremque recusandae tempora
            explicabo veritatis nihil culpa laudantium cupiditate molestias, non quaerat, voluptates, ut ipsam eum pariatur
            vero veniam possimus. Optio necessitatibus fuga ea exercitationem delectus, omnis dicta asperiores corrupti
            consequatur, quasi dolorem iure nemo maxime voluptate!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi itaque ipsam fugit obcaecati, modi,
            distinctio minima officia eligendi earum, voluptatum voluptates illum tenetur culpa quia debitis quos facilis
            eius incidunt sapiente iste id quam numquam. Beatae aut vero quam enim, sapiente voluptatem repudiandae. Sint
            officiis autem assumenda, expedita omnis ea unde, necessitatibus odio sequi eum harum eveniet nam laborum itaque
            explicabo modi at repudiandae voluptatum dolorum molestias in molestiae dicta! Quos ipsa totam recusandae natus
            quibusdam non deserunt autem, repellat dolorum omnis eveniet dolore facilis itaque nisi. Molestiae repellat
            suscipit tempora dolorem eveniet adipisci, iure quam animi consequatur dolore quas!</p>
        <p>Eos nobis aliquam assumenda et sint voluptatem sit hic, minus ipsa impedit! Error doloremque recusandae tempora
            explicabo veritatis nihil culpa laudantium cupiditate molestias, non quaerat, voluptates, ut ipsam eum pariatur
            vero veniam possimus. Optio necessitatibus fuga ea exercitationem delectus, omnis dicta asperiores corrupti
            consequatur, quasi dolorem iure nemo maxime voluptate!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi itaque ipsam fugit obcaecati, modi,
            distinctio minima officia eligendi earum, voluptatum voluptates illum tenetur culpa quia debitis quos facilis
            eius incidunt sapiente iste id quam numquam. Beatae aut vero quam enim, sapiente voluptatem repudiandae. Sint
            officiis autem assumenda, expedita omnis ea unde, necessitatibus odio sequi eum harum eveniet nam laborum itaque
            explicabo modi at repudiandae voluptatum dolorum molestias in molestiae dicta! Quos ipsa totam recusandae natus
            quibusdam non deserunt autem, repellat dolorum omnis eveniet dolore facilis itaque nisi. Molestiae repellat
            suscipit tempora dolorem eveniet adipisci, iure quam animi consequatur dolore quas!</p>
        <p>Eos nobis aliquam assumenda et sint voluptatem sit hic, minus ipsa impedit! Error doloremque recusandae tempora
            explicabo veritatis nihil culpa laudantium cupiditate molestias, non quaerat, voluptates, ut ipsam eum pariatur
            vero veniam possimus. Optio necessitatibus fuga ea exercitationem delectus, omnis dicta asperiores corrupti
            consequatur, quasi dolorem iure nemo maxime voluptate!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi itaque ipsam fugit obcaecati, modi,
            distinctio minima officia eligendi earum, voluptatum voluptates illum tenetur culpa quia debitis quos facilis
            eius incidunt sapiente iste id quam numquam. Beatae aut vero quam enim, sapiente voluptatem repudiandae. Sint
            officiis autem assumenda, expedita omnis ea unde, necessitatibus odio sequi eum harum eveniet nam laborum itaque
            explicabo modi at repudiandae voluptatum dolorum molestias in molestiae dicta! Quos ipsa totam recusandae natus
            quibusdam non deserunt autem, repellat dolorum omnis eveniet dolore facilis itaque nisi. Molestiae repellat
            suscipit tempora dolorem eveniet adipisci, iure quam animi consequatur dolore quas!
            explicabo veritatis nihil culpa laudantium cupiditate molestias, non quaerat, voluptates, ut ipsam eum pariatur
            vero veniam possimus. Optio necessitatibus fuga ea exercitationem delectus, omnis dicta asperiores corrupti
            consequatur, quasi dolorem iure nemo maxime voluptate!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi itaque ipsam fugit obcaecati, modi,
            distinctio minima officia eligendi earum, voluptatum voluptates illum tenetur culpa quia debitis quos facilis
            eius incidunt sapiente iste id quam numquam. Beatae aut vero quam enim, sapiente voluptatem repudiandae. Sint
            officiis autem assumenda, expedita omnis ea unde, necessitatibus odio sequi eum harum eveniet nam laborum itaque
            explicabo modi at repudiandae voluptatum dolorum molestias in molestiae dicta! Quos ipsa totam recusandae natus
            quibusdam non deserunt autem, repellat dolorum omnis eveniet dolore facilis itaque nisi. Molestiae repellat
            suscipit tempora dolorem eveniet adipisci, iure quam animi consequatur dolore quas!
        </p>
</body>
</html>