body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background: rgb(199, 114, 163);
}

.container {
    width: 960px;
    margin: 0 auto;
}

h1 {
    padding: 20px 0;
    text-align: center;
    background: rgb(144, 37, 100);
    color: white;
}

h2 {
    margin-bottom: 0px;
    padding-left: 10px;
    text-align: left;
    background: rgb(14, 137, 100, 0.5);
    color: white;
    border-radius: 10px 10px 0 0;
}

img {
    height: 400px;
    margin: 40px auto 40px;
    display: block;
    border: 5px #0e2364 solid;
    box-shadow: #323 10px 10px 10px;
    border-radius: 15px;
    
}

table {
    width: 100%;
    color: #333;
    background: white;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #eee;
}

td {
    padding: 5px 0;
}

td:first-child {
    width: 300px;
    padding-left: 10px;
}

p#footer {
    margin-top: 100px;
    background-color: white;
    border: 5px #0e2564 solid;
    padding: 15px;
}

.info {
    color: rgb(4, 13, 138);
}

table tr:nth-child(2n+2) td {
    background: rgb(238, 230, 230);