* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
}
.container {
    margin: 10px;
}
h1 {
    text-align: center;
    padding: 10px 0 25px 0;
}

.header-img {
    border: 1px solid rgba(128, 128, 128, 0.466);
    border-radius: 4px;
}
img {
    width: 100%;
    padding: 10px;
}
ul {
    margin: 10px 0 10px 0;
    border: 1px solid rgba(128, 128, 128, 0.466);
    border-radius: 4px;
}
li a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.466);
    padding: 7px;
    font-size: 12px;
    
}
li:last-child {
    border:none;
}
ul li:hover {
    background-color: rgb(66,139,202);
}
ul li:hover a{
    color: white; 
}
article {
    border: 1px solid rgba(128, 128, 128, 0.466);
    border-radius: 4px;
    margin: 20px 0 20px 0;
}
article p {
    padding: 0 10px 15px 10px ;
}

@media (min-width: 768px) {
    h1 {
        display: inline-block;
        float: left;
        padding-left: 5px;

    }
    header {
        position: relative;
    }
    li {
        display: inline-block;
        border: none;
        font-size: 18px;
    }
    ul {
        border: none;
        float: right;
        position: absolute;
        top: 0;
        right: 1px;
    }
    ul li:hover {
        border-radius: 5px;
    }
    article {
        position: relative;
        text-align: left;
    }
    .article-img {
        width: 33%;
    }
    article p {
        display: inline-block;
        width: 66%;
        position: absolute;
        top: 70px;
        text-align: center;
    }

    .clearfix:after {
        content: " ";
        display: table;
        clear: both;
    }
}

@media (min-width: 992px) { 
    article {
        width: 33%;
        float: left;
        border: none;
    }
    .article-img {
        width: 100%;
        height: auto;
        object-fit: scale-down;
    }
    article p {
        position: static;
        float: none;
        width: 100%;
    }
    
}