div {
  background-color: aquamarine;
}
.first {
  font-family: "New Tegomin", serif;
}
.second {
  font-family: "Dela Gothic One", cursive;
}
.thrid {
  font-family: "Train One", cursive;
}
q {
  font-family: "Train One", cursive;
}
