
* {
  margin: 0;
  padding: 0;
  text-indent: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(228, 228, 228);
  font-size: 20px;
  margin-top: 10px;
}


.navbar {
  width: 95%;
  margin: 0 auto;
  height: auto;
  padding: 12px 0;
  background-color: rgb(247, 191, 8);
}
.nav li {
  position: relative;
  width:120px;
  padding: 1rem 0;
  margin-left: 24p;
  vertical-align: bottom;
  text-align: center;
  float: left;
}

ul {
  list-style: none;
}
li a {
  text-decoration: none;
  color: black;
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9;
  visibility: hidden;
}
ul.submenu li {
  position: relative;
  display: block;
  padding: 16px 0;
  margin-left: 0;
  width: 320px;
  text-align: left;
  background-color: white;
}
ul.submenu li a {
  padding-left: 1rem;
}
li.active {
  background-color: rgb(187, 177, 177);
}

.nav li:hover {
  background-color: rgb(228, 228, 228);
}
.nav li:hover ul.submenu li {
  visibility: visible;
}
ul.submenu li:hover {
  background-color: rgb(228, 228, 228);
}
.clear::before,
.clear::after {
  content: " ";
  display: table;
}
.clear::after {
  clear: both;
}
