@mixin transitin-duration($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  transition: $duration;
}
@mixin border-radius(
  $border-rad-tlbr,
  $border-rad-rtbl,
  $border-style,
  $border-width,
  $border-color
) {
  border-radius: $border-rad-tlbr $border-rad-rtbl;
  border-style: $border-style;
  border-width: $border-width;
  border-color: $border-color;
}
@mixin mix-color($bkg-color-passive, $bkg-color-active, $bkg-color-visited) {
  a {
    display: block;
    text-decoration: none;
    padding: 2rem 0;
    font-size: 1.5rem;
    @include border-radius(10px, 40px, solid, 3px, $bkg-color-passive);
    background-color: $bkg-color-passive;
    color: $a-color;
    @include transitin-duration(0.6s);
    &.important {
      font-weight: 900;
    }
    &:hover {
      background-color: lighten($bkg-color-passive, 15%);
      color: lighten($a-color, 15%);
    }
    &:active {
      background-color: $bkg-color-active;
    }
    &:visited {
      background-color: $bkg-color-visited;
    }
  }
}
