.circle {
  width: 150px;
  height: 150px;
  line-height: 150px;
  margin: 50px auto;
  background-color: $color-orange;
  color: $color-bkg;
  text-align: center;
  cursor: pointer;
  @include border-radius;
  @include transition(all 0.4s);
  &:hover {
    @include rotate(360deg);
    background-color: transparentize($color: $color-orange, $amount: 0.6);
  }
}
