.main-header {
  width: 100%;
  .nav-wrapper {
    margin: 0 auto;
    .navbar {
      background-color: $color-nav;
      min-height: 140px;
      outline: $outline-helper;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        li {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 3rem;
          &:first-of-type {
            margin-left: 0;
          }
          a {
            text-align: center;
            display: block;
            padding: 1rem 2.5rem;
            text-decoration: none;
            color: $color-plain-text;
            font-size: 1.5rem;
            background-color: $color-bkg;
            _outline: $outline-helper;
            border: 2px solid $color-bkg;
            border-radius: 6%;
            &:hover {
              background-color: $color-orange;
              color: $color-bkg;
              @include transition-duration(0.3s);
            }
          }
        }
      }
    }
  }
  .header-wrapper {
    width: 80%;
    margin: 0 auto;
    h2 {
      text-align: center;
      font-size: $heading2-size;
      margin-bottom: 2rem;
    }
    p {
      text-indent: 2rem;
    }
  }
}
