.container {
  width: 1200px;
  margin: 0 auto;
  .flex-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  main {
    width: $main-width / 1200px * 100%;
  }
  aside {
    width: $aside-width / 1200px * 100%;
    padding-left: 5%;
  }
  h2 {
    font-size: $heading2-size;
    text-align: center;
    margin-bottom: 2rem;
  }
  h3 {
    font-size: $heading2-size * 0.8;
  }
  .extend {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
      display: block;
      text-decoration: none;
    }
    .first {
      @extend %list-reset;
      width: (100% / 3);
      background-color: $color-orange;
      text-align: center;
      padding: 2%;
      border-radius: 5%;
      a {
        color: $color-bkg;
        border-radius: 5%;
        &:hover {
          background-color: lighten($color-orange, 10%);
        }
      }
    }
    .second {
      @extend .first;
      background-color: $color-bkg;
      a {
        color: $color-orange;
        &:hover {
          background-color: lighten($color-bkg, 10%);
        }
      }
    }
    .third {
      @extend .first;
      background-color: $color-orange;
    }
  }
}

.mix-fun {
  @include mix-fun(
    $color-nav,
    2rem,
    $color-orange,
    $color-bkg,
    $color-bkg,
    $color-bkg,
    $color-orange,
    $color-orange
  );
}

.mix-fun2 {
  @include mix-fun(
    #666,
    3rem 0,
    $color-plain-text,
    $color-bkg,
    $color-bkg,
    $color-bkg,
    $color-plain-text,
    $color-plain-text
  );
}
.mix-fun3 {
  @include mix-fun(
    $color-bkg,
    1rem,
    $color-orange,
    $color-plain-text,
    $color-plain-text,
    $color-plain-text,
    $color-orange,
    $color-orange
  );
}
