@mixin border-radius($radius: 50%) {
  -webkit-border-radius: $radius;
  -moz-bodred-radius: $radius;
  border-radius: $radius;
}
@mixin rotate($degree) {
  -webkit-transform: rotate($degree);
  -moz-transform: rotate($degree);
  transform: rotate($degree);
}
@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}
@mixin transition-property($property) {
  -webkit-transition: $property;
  -moz-transition: $property;
  transition: $property;
}
@mixin transition-duration($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  transition: $duration;
}
@mixin mix-fun(
  $header-bkg,
  $header-padding,
  $link-bkg-odd,
  $link-color-odd,
  $link-border-odd,
  $link-bkg-even,
  $link-color-even,
  $link-border-even
) {
  header {
    background-color: $header-bkg;
    padding: $header-padding;
    display: block;
    margin: 0 auto;
    ol {
      @extend %list-reset;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        margin: 2%;
        a {
          display: block;
          width: 100px;
          height: 100px;
          @include border-radius;
          text-align: center;
          text-decoration: none;
          line-height: 100px;
          font-size: 2rem;
          @include transition-duration(0.3s);
        }
        &:nth-child(2n + 1) {
          a {
            background-color: $link-bkg-odd;
            color: $link-color-odd;
            border: 2px solid $link-border-odd;
            &:hover {
              background-color: $link-bkg-even;
              color: $link-color-even;
              border: 2px solid $link-border-even;
            }
          }
        }
        &:nth-child(2n) {
          a {
            background-color: $link-bkg-even;
            color: $link-color-even;
            border: 2px solid $link-border-even;
            &:hover {
              background-color: $link-bkg-odd;
              color: $link-color-odd;
              border: 2px solid $link-border-odd;
            }
          }
        }
      }
    }
  }
}
