$color-plain-text: bisque;
$color-nav: bisque;
$color-bkg: rgb(54, 50, 50);
$color-white: #fff;
$color-orange: rgb(255, 191, 95);
$roboto-reg: "Roboto", sans-serif;
$heading2-size: 2rem;
$outline-helper: 1px dotted red;
$main-width: 693px;
$aside-width: 454px;
