.table {
    border: 1px solid;
    width: 600px;
}
.blue {
    background-color:aliceblue;
}
.pink {
    background-color: hotpink;
}
.yellow {
    background-color: rgb(135, 222, 139);
}
.green {
    background-color: rgb(0, 128, 96);
}
.red {
    background-color: rgb(241, 48, 48);
}