.first {
    text-transform: uppercase;
    text-decoration: underline;
    text-align: left;
    text-indent: 30px;
}

.second {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    text-transform: lowercase;
    text-decoration: line-through;
    text-align: right;
    line-height: 200%;
}
