@mixin bkg-color($param) {
  $type: $param;
  @if $type==1 {
    background-color: $color-green;
  } @else if $type==2 {
    background-color: $color-yellow;
  } @else if $type==3 {
    background-color: $color-orange;
  } @else if $type==4 {
    background-color: $color-red;
  }
}
@mixin paragraph-color($param1, $param2) {
  .paragraph-#{$param2} {
    @include bkg-color($param2);
  }
}
@mixin paragraph-enlarge {
  @for $i from 1 through 4 {
    .paragraph-#{$i} {
      font-size: $font-size-root + $i * 2px;
    }
  }
}
