main {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin: 0px 20px 0px 20px;
    width: 90%;
    height: 900px;
    margin: 20px auto;
}

.one {
    background-color: rgb(196, 136, 26);
    flex-grow: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.two {
    background-color: rgb(128, 67, 61);
    flex-grow: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.three {
    background-color: black;
    flex-grow: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.four {
    background-color: rgb(214, 70, 92);
    flex-grow: 2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.big {
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
    
}