$body-bkg-color: #212121;
$container-bkg-color: #607d8b;
$color-red: #d32f2f;
$color-white: #fff;
$table-bkg-color: #757575;
$color-black: rgb(0, 0, 0);
$even-bkg-color: #bdbdbd;
$container-width: 960px;
$table-width: 100%;
$td-first-width: 300px;
